name_prefix             = "idea-board-dev"
location                = "centralindia"
postgres_admin_password = "replace-with-a-strong-password"

tags = {
  environment = "dev"
  application = "idea-board"
  managed-by  = "terraform"
}
